<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">
		
	<context:annotation-config />
	
	<bean id="neo" name="neo" class="com.epam.alpar_zsolt_timar.spring_hw.Person"
		scope="singleton">
		<constructor-arg>
			<util:list value-type="java.lang.String">
				<value>Neo</value>
				<value>Mr. Anderson</value>
			</util:list>
		</constructor-arg>
		<constructor-arg value="1000"></constructor-arg>
	</bean>
	<bean id="trinity" name="trinity"
		class="com.epam.alpar_zsolt_timar.spring_hw.Person" scope="singleton">
		<constructor-arg value="Trinity" />
		<constructor-arg value="50" />
	</bean>

	<bean id="morpheus" name="morpheus"
		class="com.epam.alpar_zsolt_timar.spring_hw.Person" scope="singleton">
		<constructor-arg value="Morpheus" />
		<constructor-arg value="100" />
	</bean>
	<bean id="oracle" name="oracle"
		class="com.epam.alpar_zsolt_timar.spring_hw.Person" scope="singleton">
		<constructor-arg value="Oracle" />
		<constructor-arg value="0" />
	</bean>
	<bean id="agentSmith" name="agentSmith"
		class="com.epam.alpar_zsolt_timar.spring_hw.Person" scope="singleton">
		<constructor-arg value="Agent Smith" />
		<constructor-arg value="900" />
	</bean>
	<bean id="agent2" name="agent2"
		class="com.epam.alpar_zsolt_timar.spring_hw.Person" scope="singleton">
		<constructor-arg value="agent2" />
		<constructor-arg value="800" />
	</bean>
	<bean id="agent3" name="agent3"
		class="com.epam.alpar_zsolt_timar.spring_hw.Person" scope="singleton">
		<constructor-arg value="agent3" />
		<constructor-arg value="700" />
	</bean>

	<bean id="people" name="people"
		class="com.epam.alpar_zsolt_timar.spring_hw.Person" scope="prototype">
		<constructor-arg value="Noname" />
		<constructor-arg value="0" />
	</bean>

	<bean id="matrix" name="matrix"
		class="com.epam.alpar_zsolt_timar.spring_hw.MatrixRealm">
		<constructor-arg value="Matrix" />
		<constructor-arg name="persons" ref="peopleOfMatrix"></constructor-arg>

<!-- 			<util:list value-type="com.epam.alpar_zsolt_timar.spring_hw.Person"> -->
<!-- 				<ref bean="neo" /> -->
<!-- 				<ref bean="trinity" /> -->
<!-- 				<ref bean="morpheus" /> -->
<!-- 				<ref bean="oracle" /> -->
<!-- 				<ref bean="agentSmith" /> -->
<!-- 				<ref bean="agent2" /> -->
<!-- 				<ref bean="agent3" /> -->
<!-- 			</util:list> -->
		
	</bean>
	<bean id="peopleOfMatrix" class="com.epam.alpar_zsolt_timar.spring_hw.PersonsFactory" factory-method="addPeople" >
		<constructor-arg value="10"></constructor-arg>
	</bean>
	
</beans>
